*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  font-family: "Oswald", sans-serif;
}
html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 0%, #04619f 74%);
  background-attachment: fixed;
  background-position: 0 0;
  color: #fff;
  background-repeat: no-repeat;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  gap: 20px;

  padding: 20px;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  height: 120px;
  display: grid;
  place-items: center;
  background-color: rgb(4, 4, 26);
  border-radius: 20px;
}

.card a {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.svgContainer {
  height: 30px;
  width: 30px;
  padding: 3px;
  display: inline-block;
}

footer {
  text-align: center;
  padding: 20px;
}
