body {
  width: 100%;
  display: flex;
  height: 100%;
}
.masonry {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  margin-top: 3rem;
}

.back {
  position: fixed;
  top: 1rem;
  left: 1rem;
  color: inherit;
  display: flex;
}

div {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  margin: 0.3em;
  height: 10em;
  width: 10em;
  flex-grow: 1;
}

div:nth-child(2n) {
  width: 15em;
}

div:nth-child(2n) {
  width: 14em;
}

div:nth-child(4n) {
  width: 12em;
}

div:nth-child(5n) {
  width: 7em;
}

div:nth-child(6n) {
  width: 20em;
}
