.masonry {
  display: grid;
  gap: 0.5em;
  grid-auto-rows: 10em;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  grid-auto-flow: dense;
  padding: 20px;
}

div {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

div:nth-child(6n) {
  grid-column: span 2;
  grid-row: span 2;
}

div:nth-child(7n) {
  grid-column: span 2;
}

div:nth-child(8n) {
  grid-row: span 2;
}
