body {
  width: auto;
  height: auto;
}
.masonry {
  margin-top: 3rem;
  column-width: 10em;
  padding: 20px;
  margin-left: -10px;
}

.back {
  position: fixed;
  top: 1rem;
  left: 1rem;
  color: inherit;
}

div {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  margin: 0.3em;
  height: 10em;
  width: 100%;
  display: inline-block;
}

div:nth-child(2n) {
  height: 15em;
}

div:nth-child(3n) {
  height: 13em;
}

div:nth-child(4n) {
  height: 12em;
}

div:nth-child(5n) {
  height: 17em;
}

div:nth-child(6n) {
  height: 20em;
}
